
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

.container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}
 
.small_box_1 {
    height: 150px;
    width: 150px;
    background-color: rgb(204, 18, 104);
    border: 5px solid black;
    border-radius: 25%;
    margin: 10px;
}

.small_box_2 {
    height: 150px;
    width: 150px;
    background-color: rgb(83, 138, 168);
    border: 5px solid black;
    border-radius: 25%;
    margin: 10px;
}

.small_box_3 {
    height: 150px;
    width: 150px;
    background-color: rgb(254, 120, 64);
    border: 5px solid black;
    border-radius: 25%;
    margin: 10px;
}

.small_box_4 {
    height: 150px;
    width: 150px;
    background-color: rgb(99, 173, 233);
    border: 5px solid black;
    border-radius: 25%;
    margin: 10px;
} 

.name {
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.press-key {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#startBtn {
    padding: 10px 30px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    background-color: #f5f5f5;
    color: black;

    border: 4px solid black;
    border-radius: 12px;

    cursor: pointer;
    margin: 15px auto;
    display: block;

    transition: all 0.15s ease-in-out;
}

#startBtn:hover {
    background-color: #ddd;
}

#startBtn:active {
    background-color: #bbb;
    transform: scale(0.96);
}
